# TASK 2 : Salary Prediction

### Name: Manav Padwal

In [173]:
import pandas as pd
import numpy as np

In [174]:
df=pd.read_csv("Salary Prediction of Data Professions.csv")
df.head()

,FIRST NAME,LAST NAME,SEX,DOJ,CURRENT DATE,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,5-18-2014,01-07-2016,Analyst,21.0,44570,Finance,24.0,6.0,2.0,0
1,ANNIE,NaN,F,NaN,01-07-2016,Associate,NaN,89207,Web,NaN,13.0,NaN,7
2,OLIVE,ANCY,F,7-28-2014,01-07-2016,Analyst,21.0,40955,Finance,23.0,7.0,3.0,0
3,CHERRY,AQUILAR,F,04-03-2013,01-07-2016,Analyst,22.0,45550,IT,22.0,8.0,3.0,0
4,LEON,ABOULAHOUD,M,11-20-2014,01-07-2016,Analyst,NaN,43161,Operations,27.0,3.0,NaN,3

In [175]:
df.shape

(2639, 13)

In [176]:
df.dtypes

FIRST NAME           object
LAST NAME            object
SEX                  object
DOJ                  object
CURRENT DATE         object
DESIGNATION          object
AGE                 float64
SALARY                int64
UNIT                 object
LEAVES USED         float64
LEAVES REMAINING    float64
RATINGS             float64
PAST EXP              int64
dtype: object

# EDA

In [177]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [178]:
plt.scatter(df['AGE'],df['SALARY'])
plt.xlabel('Age')
plt.ylabel('Salary')

Text(11.472222222222216, 0.5, 'Salary')

In [179]:
sns.boxplot(data=df['SALARY'])

# PREPROCESSING
Filing Null values

In [180]:
df.isnull().sum()

FIRST NAME          0
LAST NAME           2
SEX                 0
DOJ                 1
CURRENT DATE        0
DESIGNATION         0
AGE                 3
SALARY              0
UNIT                0
LEAVES USED         3
LEAVES REMAINING    2
RATINGS             2
PAST EXP            0
dtype: int64

In [181]:
df['AGE'].fillna(df['AGE'].mean(),inplace=True)
df['LEAVES USED'].fillna(df['LEAVES USED'].median(),inplace=True)
df['LEAVES REMAINING'].fillna(df['LEAVES REMAINING'].mean(),inplace=True)
df['RATINGS'].fillna(df['RATINGS'].median(),inplace=True)

C:\Users\padwa\AppData\Local\Temp\ipykernel_8088\2294212180.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AGE'].fillna(df['AGE'].mean(),inplace=True)
C:\Users\padwa\AppData\Local\Temp\ipykernel_8088\2294212180.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LEAVES USED'].fillna(df['LEAVES USED'].median(),inplace=True)
C:\Users\padwa\AppData\Local\Temp\ipykernel_8088\2294212180.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LEAVES REMAINING'].fillna(df['LEAVES REMAINING'].mean(),inplace=True)
C:\Users\padwa\AppData\Local\Temp\ipykernel_8088\2294212180.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RATINGS'].fillna(df['RATINGS'].median(),inplace=True)

In [182]:
df['LAST NAME'].fillna("-",inplace=True)
df['DOJ'].fillna(df['DOJ'].mode()[0],inplace=True)

C:\Users\padwa\AppData\Local\Temp\ipykernel_8088\3482800440.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LAST NAME'].fillna("-",inplace=True)
C:\Users\padwa\AppData\Local\Temp\ipykernel_8088\3482800440.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DOJ'].fillna(df['DOJ'].mode()[0],inplace=True)

In [183]:
df['AGE'] = df['AGE'].astype(int)

In [184]:
df.isnull().sum()

FIRST NAME          0
LAST NAME           0
SEX                 0
DOJ                 0
CURRENT DATE        0
DESIGNATION         0
AGE                 0
SALARY              0
UNIT                0
LEAVES USED         0
LEAVES REMAINING    0
RATINGS             0
PAST EXP            0
dtype: int64

In [185]:
df.head()

,FIRST NAME,LAST NAME,SEX,DOJ,CURRENT DATE,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,5-18-2014,01-07-2016,Analyst,21,44570,Finance,24.0,6.0,2.0,0
1,ANNIE,-,F,10-19-2013,01-07-2016,Associate,24,89207,Web,22.0,13.0,3.0,7
2,OLIVE,ANCY,F,7-28-2014,01-07-2016,Analyst,21,40955,Finance,23.0,7.0,3.0,0
3,CHERRY,AQUILAR,F,04-03-2013,01-07-2016,Analyst,22,45550,IT,22.0,8.0,3.0,0
4,LEON,ABOULAHOUD,M,11-20-2014,01-07-2016,Analyst,24,43161,Operations,27.0,3.0,3.0,3

In [186]:
df.drop(columns=['FIRST NAME','LAST NAME','SEX','DOJ','CURRENT DATE','LEAVES USED','LEAVES REMAINING'],inplace=True)
df.head()

  DESIGNATION  AGE  SALARY        UNIT  RATINGS  PAST EXP
0     Analyst   21   44570     Finance      2.0         0
1   Associate   24   89207         Web      3.0         7
2     Analyst   21   40955     Finance      3.0         0
3     Analyst   22   45550          IT      3.0         0
4     Analyst   24   43161  Operations      3.0         3

In [187]:
print(df['UNIT'].unique())
print(df['DESIGNATION'].unique())

['Finance' 'Web' 'IT' 'Operations' 'Marketing' 'Management']
['Analyst' 'Associate' 'Senior Analyst' 'Senior Manager' 'Manager'
 'Director']

# Building MODEL

In [188]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for col in df.columns:
    if (df[col].dtypes=='object'):
        df[col]=le.fit_transform(df[col])

In [189]:
df.head()

   DESIGNATION  AGE  SALARY  UNIT  RATINGS  PAST EXP
0            0   21   44570     0      2.0         0
1            1   24   89207     5      3.0         7
2            0   21   40955     0      3.0         0
3            0   22   45550     1      3.0         0
4            0   24   43161     4      3.0         3

In [190]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Splitting the data into training and testing sets
X = df.drop(columns=['SALARY'])
y = df['SALARY']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Creating and training the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Making predictions on the test set
y_pred = model.predict(X_test)

# Evaluating Model

In [191]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2) Score: {r2}")

Mean Absolute Error (MAE): 12511.976072855252
Mean Squared Error (MSE): 398391596.920907
Root Mean Squared Error (RMSE): 19959.74942029351
R-squared (R2) Score: 0.7600826658316184

# ADA Boost

In [192]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LinearRegression

adaBoost = AdaBoostRegressor(estimator=LinearRegression(), n_estimators=100, learning_rate=0.1)
adaBoost.fit(X_train, y_train)

AdaBoostRegressor(estimator=LinearRegression(), learning_rate=0.1,
                  n_estimators=100)

In [193]:
y_pred_adaBoost = adaBoost.predict(X_test)
print("AdaBoost Regression Metrics:")
print("MAE:", mean_absolute_error(y_test, y_pred_adaBoost))
print("MSE:", mean_squared_error(y_test, y_pred_adaBoost))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_adaBoost)))
print("r2 score:", r2_score(y_test, y_pred_adaBoost))

AdaBoost Regression Metrics:
MAE: 17289.237700207694
MSE: 508686569.5198581
RMSE: 22554.08099479689
r2 score: 0.6936613958986371

In [194]:
import pickle
pickle_out=open("salary_model.pkl","wb")
pickle.dump(model,pickle_out)
pickle_out.close()

In [195]:
import json
from sklearn.preprocessing import LabelEncoder

# Example of encoding used for Designation and Unit (adjust based on your data)
designation_categories = ["Analyst","Associate","Senior Analyst","Senior Manager","Manager","Director"]
unit_categories = ["Finance", "Web", "IT", "Operations","Marketing","Management"]

# Initialize and fit encoders
le_designation = LabelEncoder()
le_unit = LabelEncoder()

le_designation.fit(designation_categories)
le_unit.fit(unit_categories)    

# Store mappings for comparison later
mappings = {
    "designation": {cat: int(le_designation.transform([cat])[0]) for cat in designation_categories},
    "unit": {cat: int(le_unit.transform([cat])[0]) for cat in unit_categories}
}

# Save mappings to a JSON file
with open("label_encodings.json", "w") as f:
    json.dump(mappings, f)

print("Label encodings saved to 'label_encodings.json'")

Label encodings saved to 'label_encodings.json'

# RECCOMENDATIONS

# Factors affecting Salary

*   The model is trained in such a way that more the age more the salary is being predicted but in real scenario it doesn't works like that
*   Salary Depends on the work experience and the company in which you work
*   So the work experience is been neglected .

# Factors which can improve earnings in data profession :

* Considering years of experience of the candidate

* This can help achieve a much better salary than a salary expected on basis of Age
* Following trends and patterns in data profession to get to know about latest updates in job professions